# Database Admin 101 - Lab

## Introduction 

In this lab you'll go through the process of designing and creating a database. From there, you'll also begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Create a SQL database
* Create a SQL table
* Create rows in a SQL table
* Alter entries in a SQL table
* Delete entries in a SQL table
* Commit changes via sqlite3

## The Scenario

You are looking to design a database for a school which will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database and record some of your ideas below.

# Your Answer Here

Record some information here about how you would design such a database. What table would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [49]:
#Your code here; import necessary packages
import sqlite3
conn = sqlite3.connect('school.sqlite')
c = conn.cursor()

In [50]:
#Your code here; create the database school.sqlite

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), email, telephone number, street, city, state and zipcode. Be sure to also create a primary key for the table.

In [51]:
#Your code here
import pickle
import pandas as pd

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [52]:
contacts

[{'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'telephone ': 2035687697,
  'street': '1672 Whitman Court',
  'city': 'Stamford',
  'state': 'CT',
  'zipcode ': '06995'},
 {'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'telephone ': 2175150957,
  'street': '1935 University Hill Road',
  'city': 'Champaign',
  'state': 'IL',
  'zipcode ': '61938'},
 {'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'telephone ': 4049446441,
  'street': '479 Musgrave Street',
  'city': 'Atlanta',
  'state': 'GA',
  'zipcode ': '30303'},
 {'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'telephone ': 7866419252,
  'street': '2981 Lamberts Branch Road',
  'city': 'Hialeah',
  'state': 'Fl',
  'zipcode ': '33012'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'telephone ': 9075772295,
  'street': '3975 Jerry Toth Drive',
  'city': 'Ninilchik',
  'state': 'AK',
  'zipcode ': '99639'},
 {'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'telephone ': 5179695576,
  'street': '3478 Be Sreet',
  'city': 'Lansing',
  'state': 'MI',
  'zipcode ': '48933'}]

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [53]:
# Code to load the list of dictionaries; just run this cell
c.execute("""CREATE TABLE contactInfo (
            ID integer primary key,
            city varchar(255),
            firstName varchar(255),
            lastName varchar(255),
            role varchar(255),
            state varchar(255),
            street varchar(255),
            telephone varchar(255),
            zipcode varchar(255))""")

OperationalError: table contactInfo already exists

In [55]:
for contact in contacts:
    city1 = contact['city']
    firstName1 = contact['firstName']
    lastName1 = contact['lastName']
    role1 = contact['role']
    phone1 = contact['telephone ']
    state1 = contact['state']
    street1 = contact['street']
    zipcode1 = contact['zipcode ']
    c.execute("""INSERT INTO contactInfo (city, firstName, lastName, role, state, street, telephone, zipcode)
                  VALUES ("{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}");
            """.format(city1, firstName1, lastName1, role1, state1, street1, phone1, zipcode1)
             )

In [56]:
# Your code to iterate over the contact list and populate the contactInfo table here
d = pd.DataFrame(c.execute("""select * from contactInfo""").fetchall())
d.columns = [x[0] for x in c.description]
d

,ID,city,firstName,lastName,role,state,street,telephone,zipcode
0,1,Stamford,Christine,Holden,staff,CT,1672 Whitman Court,2035687697,06995
1,2,Champaign,Christopher,Warren,student,IL,1935 University Hill Road,2175150957,61938
2,3,Atlanta,Linda,Jacobson,staff,GA,479 Musgrave Street,4049446441,30303
3,4,Hialeah,Andrew,Stepp,student,Fl,2981 Lamberts Branch Road,7866419252,33012
4,5,Abilene,Jane,Evans,student,TX,1461 Briarhill Lane,3259909290,79602
5,6,Abilene,Jane,Evans,student,TX,1461 Briarhill Lane,3259909290,79602
6,7,Ninilchik,Mary,Raines,student,AK,3975 Jerry Toth Drive,9075772295,99639
7,8,Lansing,Ed,Lyman,student,MI,3478 Be Sreet,5179695576,48933

In [57]:
# Query the Table to Ensure it is populated
c.execute("""SELECT * FROM contacts""")

In [58]:
#Your code here

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [59]:
#Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [61]:
#Your code here; create the grades table.
c.execute("""CREATE TABLE grade(
   userID INTEGER NOT NULL,
   courseID INTEGER NOT NULL,
   grade INTEGER NOT NULL,
   PRIMARY KEY(userID,courseID)
   );""")

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [62]:
#Your code here; find the duplicate entry
c.execute("""select firstName, lastName, telephone,
                      count(*) from contactInfo
                      group by 1
                      having count(*) > 1;""").fetchall()

[('Jane', 'Evans', '3259909290', 2)]

In [64]:
#Your code here; delete the duplicate entry
c.execute("""delete from contacts where telephone = '3259909290';""")

In [ ]:
#Your code here; check that the duplicate entry was removed.

## Updating an Address

Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.

In [ ]:
#Your code here; update Ed's address

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [ ]:
#Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you certainly got a taste for creating, populating and maintaining databases! Feel free to continue fleshing out this exercise to continue practicing.